#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
    pointer-events: none;
    /* Allow clicks to pass through to content */
}