.my-logo::after {
    content: "";
    background-color: teal;
    position: absolute;
    bottom: -7%;
    left: 0;
    width: 100%;
    height: 2px;
    /* opacity: 1; */
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform .3s ease;

}

.logo:hover .my-logo::after {
    transform: scale(1);
    transform-origin: bottom left;
    /* opacity: 1; */

}