<section id="home" class="min-h-[100vh] bg-amber-300 flex justify-center items-center">
    <div class=" text-center">

        <h1 class="text-3xl md:text-4xl lg:text-6xl font-bold tracking-wider text-center">

            <span class="" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="2000"
                data-aos-easing="ease-in-out">Ahmed Mansy</span>
            <br class="md:hidden">
            <span data-aos="zoom-in" data-aos-duration="2000" data-aos-easing="ease-in-out"
                class="text-mainColor md:ml-8 ">Frontend Developer</span>
        </h1>


        <div data-aos="fade-right" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="ease-in-out"
            data-aos-mirror="false" data-aos-once="false" class="flex justify-center items-center space-x-10 mt-16">
            <a href="https://github.com/Ahmed-Mansy/" target="_blank" title="GitHub Profile">
                <i class="text-4xl cursor-pointer fa-brands fa-github hover:text-mainColor"></i>
            </a>
            <a href="https://github.com/Ahmed-Mansy/" target="_blank" title="LinkedIn Profile">
                <i class="text-4xl cursor-pointer fa-brands fa-linkedin hover:text-mainColor"></i>
            </a>
            <a href="https://github.com/Ahmed-Mansy/" target="_blank" title="Twitter Profile">
                <i class="text-4xl cursor-pointer fa-brands fa-twitter hover:text-mainColor"></i>
            </a>
        </div>
    </div>
</section>